#complete_solution {
    margin-top: 68px;
    background-color: #f3f7fd;
    align-items: center;
    padding: 0px 100px;
    display: flex;
    height: 400px;
}

#complete_solution>div:first-child {
    h3 {
        font-weight: bolder;
    }

    button {
        background-color: black;
        border: none;
        color: white;
        display: block;
        width: fit-content;
        padding: 7px 15px;
        border-radius: 4px;
    }
}