#footer {
    background-color: #f7f7f7;
    padding: 40px 80px;

    #lists,#contact_us {
        display: flex;

        .list{
            display: flex;
            flex-direction: column;
            flex: 1;

            .heading {
                font-weight: bolder;
                font-size: 11px;
                line-height: 1.43;
            }

            ul {
                padding: 0;

                li {
                    font-size: 11px;
                    line-height: 1.71;
                    color: #acb3ba;
                }
            }
        }
    }

    #social {
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        padding: 0 30px;

        div {
            i {
                background-color: #498bdc;
                margin-left: 20px;
                color: white;
                width: 30px;
                height: 30px;
                text-align: center;
                padding-top: 7px;
                border-radius: 50%;
            }
        }
    }

    #copyright {
        text-align: center;
        font-size: 11px;
        color: #acb3ba;
    }
}