#start_trial {
    height: 450px;
    margin-top: 68px;
    text-align: center;
    padding-top: 110px;

    div:first-child {
        width: 635px;
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: -0.64px;
        text-align: center;
        color: #ffffff;
        margin: auto;
        margin-bottom: 18px;
    }

    div:nth-child(2) {
        width: 295px;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.3px;
        text-align: center;
        color: #ffffff;
        margin: auto;
        margin-bottom: 48px;
    }

    button {
        width: 209px;
        height: 50px;
        border-radius: 25px;
        background-color: #498bdc;
        color: white;
        border: none;
    }
}