#testimonials {
    .carousel-slider{
        height: 350px;
    }
    
    .slider{
        display: flex;
        margin-right: 20px;
        align-items: flex-start;
        height: fit-content;
        padding-top: 22px;
        padding-bottom: 32px;
    }

    .slider-wrapper {
        height: fit-content !important;
    }
    
    .slide{
        background: #f7f7f7 !important;
        height: fit-content;
        display: flex;
        align-items: center;
    }
    
    .test-li {
        font-size: 14px;
        width: 80%;
    }
    
    .carousel .slide img {
        width: 120px !important;
        margin-bottom: 15px;
    }
    
    .carousel {
        margin-top: 0 !important; 
        height: fit-content !important;
    }
}